<% include header %>
<style>
.pagination {
  background-color: white;
}
.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.active {
  background-color: #72b8b1;
  color: white;
}

</style>
<script>
</script>
<% let complainResult = locals.pageSignalResult %>
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1></h1>
    <h1 class="h3 mb-2 text-gray-800"> 불편접수 내역 확인</h1>
    <p class="mb-4">불편접수내역을 확인할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <form class="user" action="/overview/complainerSearch" method="GET">
            <p>불편러의 kakao_id를 입력하세요</p>
            <input type="text" class="form-control form-control-user" id="userId" name="userId" placeholder="Enter Complianer Name...">
            <button type="submit" class="btn btn-primary">
              검색하기
            </button>
          </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">카카오ID</th>
                <th scope="col">불편사항</th>
                <th scope="col">적립포인트</th>
                <th scope="col">불편접수시간</th>  
              </tr>
            </thead>
            <tbody>
              <% for (let index in complainResult) { %>
                <tr>
            </tbody>
                    <td><%= complainResult[index].no %></td>
                    <td><%= complainResult[index].kakao_id %></td>
                    <td><%= complainResult[index].complain_context %></td>
                    <td><%= complainResult[index].send_point %></td>
                    <td><%= moment(complainResult[index].complain_date).format('YYYY.MM.DD HH:mm:ss') %></td>
                </tr>
                <% } %> 
              </tbody>
          </table>
            <%
              let paging = locals.paging
              let curSet = paging.curSet
              let endPage = paging.endPage
              let startPage = paging.startPage
              let totalSet = paging.totalSet
              let totalPage = paging.totalPage
              let page_list_size = paging.page_list_size
              let page_size = paging.page_size
              let curPage = paging.curPage
              let pageType = locals.pageType
            %>
              <ul class="pagination">
                <li>
                    <% if (curPage <= 1) { %>
                        <a class="page-link" href="#">
                    <% } else { %>
                      <% if(pageType == 'normal') { %> 
                        <a href="/overview/complain?page=<%= (curPage -1 ) %>">
                      <% } else { 
                          let userId = locals.userId;
                        %>
                        <a href="/overview/complainerSearch?page=<%= (curPage -1 ) %>&userId=<%=userId%>">
                      <% } %>
                    <% } %>
                        Prev
                    </a>
                </li>
                <% for (let i = startPage; i <= endPage; i++) { 
                    if (i > totalPage) {
                        break;
                    } 
                %>
                    <% if (i == curPage) { %>
                        <li class="active" >
                    <% }  else {%>
                        <li>
                    <% } %>
                    <% if(pageType == 'normal') { %> 
                      <a href="/overview/complain?page=<%= i %>"><%= i %></a>                      
                      <% } else {  
                        let userId = locals.userId;
                        %>
                        <a href="/overview/complainerSearch?page=<%= i %>&userId=<%=userId%>"><%= i %></a>
                      <% } %>
                        </li>
                <% } %>
                <li>
                    <% if (Number(curPage) + 1 <= totalPage) { %>
                      <% if(pageType == 'normal') { %> 
                        <a href="/overview/complain?page=<%= (Number(curPage) + 1 ) %>">Next</a>
                      <% } else {   
                        let userId = locals.userId;
                        %>
                        <a href="/overview/complainerSearch?page=<%= (Number(curPage) + 1 ) %>&userId=<%=userId%>">Next</a>
                      <% } %>
                    <% } else { %>
                        <a class="page-link" href="#">Next</a>
                    <% } %>
                </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
  </div>
    <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/resource/vendor/jquery/jquery.min.js"></script>
  <script src="/resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/resource/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/resource/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/resource/js/demo/chart-area-demo.js"></script>
  <script src="/resource/js/demo/chart-pie-demo.js"></script>
  <% include footer %>



